@charset "utf-8";
// 页面样式
// ==============================






/* resetcss
   ========================================================================== */
@import "_normalize.scss";



/* 工具样式
   ========================================================================== */
@import "_fun.scss";





// 基本样式
// ==============================
html {
    font-size: 62.5%;
    color: #222;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}



