@charset "utf-8";
/* 页面样式
   ========================================================================== */






/* resetcss
   ========================================================================== */
@import "_normalize.scss";




// 基本样式
// ==============================
html {
    font-size: 62.5%;
    color: #222;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}



/* 工具样式
   ========================================================================== */
@import "_fun.scss";



/* 浏览器更新提示
   ========================================================================== */
.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}



/* 自定义页面样式
   ========================================================================== */
body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}
a {
    color: #666;
    text-decoration: none;
    &:hover,
    &:active {
        color: #0ae;
        text-decoration: underline;
    }
}

/* 网站头部
   ========================================================================== */
header {
    width: 100%;

    .top {
        line-height: 3rem;
        padding: 0 1.5rem;
        color: #fff;
        background: #555;
        border-bottom: 1px solid #ecc000;

        .tel {
            float: left;
        }

        ul {
            font-size: 0;
            text-align: right;

            li {
                display: inline-block;
                font-size: 1.2rem;

                a {
                    color: #fff;
                }
            }
        }
    }
}

/* 网站主要内容
   ========================================================================== */
.container {
    width: 100%;
}

/* 底部导航
   ========================================================================== */
footer {
    width: 100%;
}
